.Modal {
  position: absolute;
  z-index: 2;
  width: 80vw;
  height: 80vh;
  background-color: #fff;
  font-family: sans-serif;
  padding: 20px;
  overflow-y: auto;
}

.Modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.Modal h1 {
  font-size: 20px;
  font-weight: 700;
}

.Modal .author {
  font-size: 12px;
  font-style: italic;
}

.Modal p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
}
.Modal p strong {
  font-weight: 700;
}

@media screen and (min-width: 481px) {
  .Modal {
    width: 70vw;
    min-height: 70vh;
  }
}
